/.idea
/.pypirc
/dist
/llmp.egg-info
/_notebooks

# docs
/docs/notebooks/data
/docs/_build/
/docs/.yarn/
/docs/node_modules/
/docs/.docusaurus/
/docs/.cache-loader/
/docs/_dist
/docs/api_reference/_build
/docs/api_reference/*
!docs/api_reference/_static/
!docs/api_reference/templates/
!docs/api_reference/themes/
docs/build
docs/docs/_static
docs/docs/_templates
/docs/make.bat
/docs/Makefile
