/.idea
/.pypirc
/dist
/llmp.egg-info
/_notebooks

# docs
/docs/notebooks/data
/docs/_build/
/docs/.yarn/
/docs/node_modules/
/docs/.docusaurus/
/docs/.cache-loader/
/docs/_dist
# docs/api_reference
/docs/api_reference/_build
/docs/api_reference/*
/docs/api_reference/api_reference.rst
/docs/api_reference/create_api_rst_dev.py
!docs/api_reference/_static/
!docs/api_reference/templates/
!docs/api_reference/themes/
!docs/api_reference/conf.py
!docs/api_reference/index.rst
!docs/api_reference/doc_links.json
!docs/api_reference/create_api_rst.py
!docs/api_reference/make.bat
!docs/api_reference/Makefile

# docs/llmp-docs
/docs/llmp-docs/_build

docs/build
docs/docs/_static
docs/docs/_templates
/docs/make.bat
/docs/Makefile
